{% extends 'base.html' %}

{% block title %}登録完了{% endblock title %}

{% block content %}

<div class="container">
    
    <div class="w-100 p-4 d-flex justify-content-center mt-4">

        <div class="row col-5">
            <h3>アカウント作成が完了しました。</h3>

            <form action="{% url 'login' %}" method="get">
                {% csrf_token %}
                <button type="submit"  class="btn btn-dark my-4 d-block w-75">ログインする</button>\
            </form>

        </div>

    </div>       
    
</div>

{% endblock content %}