{% extends 'base.html' %}

{% block title %}カート{% endblock title %}

{% block content %}

<div class="container justify-content-center mt-4">
    <div class="row">

        {% if cart.cart_item.exists %}
        <table class="table">
            <thead class="thead-title">
            <tr>
                <th scope="col" class="text-center">商品名</th>
                <th scope="col" class="text-center">単価</th>
                <th scope="col" class="text-center">数量</th>
                <th scope="col" class="text-center">合計金額</th>
            </tr>
            </thead>

            {% for cart_item in cart.cart_item.all %}
            <tbody class="text-center table-group-divider">
            <tr>
                <td>{{cart_item.item.name}}</td>
                <td>{{cart_item.quantity}}</td>
                <td>{{cart_item.item.price}}</td>
                <td>{{cart_item.total_price}}円
                    <form action="{% url 'delete_cart_item' user.id %}" method="post" class="d-inline">{% csrf_token %}
                        <input type="hidden" name="cart_item_pk" value="{{cart_item.id}}">
                        <button type="submit" class="btn btn-warning btn-sm ms-3">削除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>

            <tbody class="text-center table-group-divider">
                <th></th>
                <td></td>
                <td></td>
                <td>総額:<span>{{cart.total_price}}円</span></td>
            </tbody>

        </table>

    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <a href="{% url 'home' %}" class="btn btn-dark my-4 d-block mx-auto w-100">ショッピングを続ける</a>
        </div>

        <div class="col-4">
            <form action="{% url 'order' %}" method="POST">{% csrf_token %}
                <button type='submit' class="btn btn-dark my-4 d-block mx-auto w-100">購入する</button>
            </form>
        </div>
    </div>


    {% else %}

    <div class="text-center">
        <p>カートは空です。</p>
        <a href="{% url 'home' %}" class="btn btn-secondary">商品を探す</a>
    </div>

    {% endif %}

</div>

{% endblock content %}