{% extends 'base.html' %}

{% block title %}商品詳細{% endblock title %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col-6">
            {% if item.image %}
            <img src="{{item.image.url}}" alt="{{item.name}}" class="card-img-top mb-5 mb-md-0 rounded-3">
            {% else %}
            <img src="" alt="">
            {% endif %}
        </div>

        <div class="col-6">
            <div class="row">

                <p>カテゴリ</p>

                <h3>{{item.name}}</h3>

                <div class="d-flex flex-row">
                    <h4>{{item.price}}</h4><span>（税込）送料無料 </span>
                </div>

                {% if user.is_authenticated %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-row " style="height: 40px;">
                            <div class="mt-1 me-4">
                                <p>数量</p>
                            </div>

                            <input type="number" name="quantity" class="w-25" name="{{item.name}}" min="1" value="1" required/>
                            <input type="hidden" name="item_pk" value="{{item.id}}">
                        </div>

                        <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-dark my-4 d-block mx-auto w-100" data-mdb-button-initialized="true">カートに追加する</button>
                
                    </form>

                {% else %}

                    <div class="mt-3">
                        <p>購入するにはログインする必要があります</p>
                        <a href="{% url 'login' %}" type="submit" class="btn btn-dark my-4 d-block mx-auto w-100" >ログイン</a>
                    </div>

                {% endif %}

                <h4>商品概要</h4>

                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}