{% extends 'base.html' %}

{% block title %}ホームページ{% endblock title %}

{% block content %}

<div class="container">
    <div class="row mt-4 justify-content-center">
        
        <div class="col-3 px-4">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>
        
        <div class="col-3 px-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>
        
        <div class="col-3 px-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>

        <div class="col-3 px-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>

    </div>

    <div class="row mt-4 justify-content-center">
        
        <div class="col-3 px-4">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>
        
        <div class="col-3 px-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>
        
        <div class="col-3 px-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>

        <div class="col-3 px-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">商品名</h5>
                  <p class="card-text">1000円</p>
                  <a href="#" class="btn btn-outline-secondary mt-4">商品詳細</a>
                </div>
              </div>
        </div>

    </div>

</div>

{% endblock content %}