footer > div {
   height: 50px;
}

#logo {
   display: block;
   text-align: center;
}

.login-form {
   border-bottom: 1px solid gray;
}

.form-title {
   border-left: 3px solid black;
}

.thead-title {
   background-color: #f5f5f5;
}