<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Colaughul</a>
      <div class="d-flex">

        {% if user.is_authenticated %}

        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-light me-3">ログアウト</button>
        </form>
        <a href="{% url 'cart' user.id %}" class="btn btn-outline-light"><i class="bi-cart-fill me-1"></i>カート</a>

        {% else %}

        <a href="{% url 'login' %}" class="me-3 link-secondary link-underline-dark">ログイン</a>
        <a href="{% url 'regist' %}" class="link-secondary link-underline-dark">新規登録</a>

        {% endif %}

      </div>
    </div>
  </nav>